<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ja">  <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang="ja">         <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="ja">                <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="ja">                       <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>2014.03.08</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:title" content="" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="" />
<meta property="fb:admins" content="1047363919" />
<!--<meta property="fb:app_id" content="" />-->

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="./assets/images/favicon.ico">

<link rel="stylesheet" href="{{ site.baseurl }}{{ site.css_dir }}/reset.css" />
<link rel="stylesheet" href="{{ site.baseurl }}{{ site.css_dir }}/style.css" />
<script type="text/javascript" src="{{ site.baseurl }}{{ site.js_dir }}/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="{{ site.baseurl }}{{ site.js_dir }}/jquery-1.10.2.min.js"><\/script>')</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.js_dir }}/IE9.js"></script>
<![endif]-->
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60473528-1', 'auto');
  ga('send', 'pageview');

</script>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{{ content }}

<script type="text/javascript" src="{{ site.baseurl }}{{ site.js_dir }}/script.min.js"></script>
</body>
</html>
